
.cat {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background: url('../assest/images/cat.png') no-repeat;
        background-size:cover;
        opacity: .5;
}

.mouse {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background: url('../images/mouse.jpg') no-repeat;
        background-size:cover;
        opacity: .5;
}

.zebra {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background: url('../images/zebra.jpg') no-repeat;
        background-size:cover;
        opacity: .5;
}

.cheetah {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background: url('../images/cheetah.jpg') no-repeat;
        background-size:cover;
        opacity: .5;
}

.lion {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background: url('../images/lion.jpg') no-repeat;
        background-size:cover;
        opacity: .5;
}

.container{
        position: relative;
        z-index: 100;
}
